.aupair-section-video{
    height:60vh; 
    width: 100vw;
    margin-top: -40vh; 
    align-items: center; 
    display: flex;
    justify-content: center;
}

.aupair-section-video-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 60%;
    grid-auto-rows:  minmax(100px, auto);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.aupair-section-video-1{
    grid-row: 1;
    grid-column: 1;
}
.aupair-section-video-2{
    grid-row: 1;
    grid-column: 2;
}