.TextAuPair{
    margin: 10px;
    width: 100vw;
    height: 100vh;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    margin-right: 500px;
    /* display: flex; */
  }
  
  .parag_PageAuPair{
    text-align: justify;
    font-size: 25px;
    width: 50%;
    margin-top: 15vw;
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    margin-left: 100px;
    }
    
  
  .TextAuPair2{
    width: 100vw;
    height: 100vh;
    background-color: orange;
  }
  
  .titlePageAuPair{
    font-size: 100px;
    font-weight: 100;
    margin-left: 50px;
    margin-top: 20px;
  }
  
  .img_PageAupair{
    width: 150%;
    margin-right: 100px;
  }
  
  .img_DerechosyObligaciones{
    width: 150%;
  }
  
  .parag_PageAuPair2{
    text-align: justify;
    font-size: 20px;
    margin-left: 10%;
    width: 80%;
    margin-top: 17vw;
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  }
  
  .parag_PageAuPair2_ul{
      margin-left: 10%;
      width: 90%;
  }
  
        
  @media screen and (max-width : 376px) {
    .titlePageAuPair{
        font-size: 50px;
    }
    .TextAuPair{
        width: 100vw;
    }
  
    .parag_PageAuPair{
        text-align: justify;
        font-size: 10px;
        width: 50%;
        margin-top: 15vw;
        transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    }
  
    .img_PageAupair{
        width: 300px;
    }
  
    .parallax_AuPair{
        width: 100px;
        transform: translateY(-5%); /* tiré de la moitié de sa propre hauteur */
        margin-top: -50px;
        overflow: hidden; 
    }
  
  }